language: python
python:
- 2.7
- 3.5
- 3.6
sudo: false
notifications:
  email: false
install:
- pip install --upgrade pip wheel
- pip install --upgrade numpy
- pip install sphinx
- pip install --upgrade .[test]
script:
- pytest
- cd docs && make html && cd ..
deploy:
  provider: pypi
  user: aether
  password:
    secure: Z88A/qARvvwFdogCnwiybg9g8+FTiJmTKh4rkfoOkFJP02dirWC3lDf8ZEUGo8Uk9QgO+M9BhcJR6vy7STGHYuVF+xC3lz9nuIQj39JkGfHOdy2aUOwiNQLES6jVGEzhJdDv4mJ5Wg481m0ZFGFxzjnAkpVBR2wxCyN80hcOXPc=
  python: 2.7
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: CellProfiler/python-bioformats
  skip_cleanup: true
